*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: #131313;
	--red: #c02942;
	--deep_red: #783232;
}

h1 {
	font-size: 75px;
	text-align: center;
	margin: 40px;

	@media (max-width: 768px) {
		font-size: 60px;
	}
}

a {
	text-decoration: none;
}

.button {
	padding: 10px 30px;
	background-color: var(--red);
	color: white;
	border-radius: 10px;
	transition: ease 0.3s all;

	&:hover {
		background-color: white;
		color: var(--black);
	}
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	background-color: var(--black);
	color: white;
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	max-width: 1440px;
	margin: auto;
	border-bottom: 1px solid;

	.logo-holder {
		display: flex;
		align-items: center;
		font-weight: 600;
		color: white;

		.logo {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 32px;
			height: 64px;
			width: 64px;
		}
	}

	nav {
		display: flex;
		align-items: center;
		ul {
			display: flex;
			list-style-type: none;
			gap: 5px;
			li {
				a {
					display: inline-block;
					padding: 10px 20px;
					color: white;
					transition: ease 0.3s all;
					border-radius: 10px;

					&:hover {
						background-color: white;
						color: var(--black);
						border-radius: 10px;
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						-ms-border-radius: 10px;
						-o-border-radius: 10px;
					}
				}
			}
		}
		.nav-icon {
			display: none;
			padding: 10px;
			color: white;

			@media (max-width: 768px) {
				display: inline-block;
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
	}

	@media (max-width: 1024px) {
		flex-direction: column;
		align-items: center;
	}

	@media (max-width: 768px) {
		nav {
			width: 100%;
			ul {
				display: none;
				flex-direction: column;
				text-align: center;
				width: 100%;
				padding: 0 20px;
				a {
					width: 100%;
				}
				&.active {
					display: flex;
				}
			}
		}
	}
}

section {
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	padding-top: 15px;
	padding-bottom: 15px;
	max-width: 1440px;
	margin: auto;
	border-top: 1px solid;
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
